DIV.access.freeze.panel {
  background-color: #DDDDDD;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 5000;
  opacity: .50;
  filter: alpha(opacity=50);
  -moz-opacity: .50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  border: 1px solid black;
}

DIV.access.inner.panel {
  overflow-x: auto;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 160px;
  top: 50%;
  margin-top: -80px;
  z-index: 5001;
  background-color: black;
  border: 1px solid black;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

DIV.access.content.with_title.left.top {
  z-index: 5001;
}

DIV.access.user_name.label {
  position: absolute;
  top: 10px;
  left: 10px;
}

DIV.access.user_name.field {
  position: absolute;
  top: 10px;
  right: 10px;
}

DIV.access.password.label {
  position: absolute;
  top: 35px;
  left: 10px;
}

DIV.access.password.field {
  position: absolute;
  top: 35px;
  right: 10px;
}

DIV.access.login.button {
  position: absolute;
  top: 60px;
  right: 10px;
}

DIV.access.messages {
  overflow: auto;
  position: absolute;
  top: 85px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  color: red;
  border: 1px solid black;
}
